<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>135117455756-npegj8hden6tbn4qavim24t0pq3cvflr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135117455756-npegj8hden6tbn4qavim24t0pq3cvflr</string>
	<key>API_KEY</key>
	<string>AIzaSyCyohnNvlL3-mBxcbWnAhBBlB9gXHv7gGU</string>
	<key>GCM_SENDER_ID</key>
	<string>135117455756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rao.SocioNet</string>
	<key>PROJECT_ID</key>
	<string>socionet-8eaef</string>
	<key>STORAGE_BUCKET</key>
	<string>socionet-8eaef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:135117455756:ios:82c21a9c858b8865</string>
	<key>DATABASE_URL</key>
	<string>https://socionet-8eaef.firebaseio.com</string>
</dict>
</plist>
